.logout-container {
  background-image: linear-gradient(#1a73e8, #1a73e8);  
  width: 30em;
  margin: 15em auto auto auto;
  padding: 2em 1em 2em 1em;
}

#logout-message {
  color: white;
  text-align: center;
  font-family: sans-serif;
}
